server/node_modules/*
server/node_modules/
qr_code_generator/
server/apps/fridgeApp.json
server/apps/choreApp.json
server/package-lock.json
server/apps/app_engine/*
server/apps/*/*

/doku*
*.bat
*.tar*

testing.*

local/*

*__pycache__
*fpp_app_env
