body {
    background-color: #121212;
    color: #ffffff;
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

button {
    background-color: #6610f2; /* A vibrant purple for primary actions */
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #520dc2; /* A slightly darker purple on hover */
}

#search-input, #app-list {
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
    border: 1px solid #333;
    background-color: #222;
    color: white;
}

#search-input {
    width: 200px;
}

#app-list {
    background-color: #333;
}

input[type="text"]:focus, select:focus {
    outline: none;
    border: 1px solid #6610f2;
}

::placeholder {
    color: #ccc;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #333;
}

.remote {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000;
    padding: 20px;
    border-radius: 10px;
}

.btn {
    background-color: #444;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #555;
}

.directional {
    display: grid;
    grid-template-areas: 
        " . up . "
        "left ok right"
        " . down . ";
    gap: 5px;
}

#up { grid-area: up; }
#left { grid-area: left; }
#ok { grid-area: ok; }
#right { grid-area: right; }
#down { grid-area: down; }
