<!DOCTYPE html>
<html lang="en-US" ng-app="choreApp">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <title>Chore App</title>

        <link rel="stylesheet" href="/css/choreApp.css">

    </head>

    <body ng-controller="MainController">
        <div class="input-area">
            <select ng-model="selectedKey" ng-options="key for key in choreLists" ng-change="updateChoreList()">
            </select>
            <button ng-click="sortChores()">Sort and Reset</button>
            <button ng-click="removeChecked()">Remove all checked</button>
        </div>
        <div class="input-area">
            <input type="text" ng-model="newChore" ng-enter="addChore()" placeholder="Add new chore" />
            <button ng-click="addChore()">Add Chore</button>
        </div>
        <div class="items-container">
            <table>
                <tr ng-repeat="chore in choreList">
                    <td>{{chore.name}}</td>
                    <td style="text-align:right;"><input type="checkbox" ng-model="chore.checked" ng-change="updateChoreCheckedState(chore)"></td>
                    <td><button ng-click="removeChore(chore.name)">Remove</button></td>
                </tr>                
            </table>
        </div>
    </body>
    

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script type="application/javascript" src="js/choreApp.js"></script>

</html>
