<!DOCTYPE html>
<html lang="en-US" ng-app="fridgeApp">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>Fridge App</title>

    <link rel="stylesheet" href="/css/fridgeApp.css">

</head>

<body ng-controller="MainController">

    <select ng-model="selectedCategory" ng-options="category for category in categories"></select>

    <div class="items-container">
        <table>
            <tr ng-repeat="item in jsonData.items[selectedCategory]">
                <td>{{ item }}</td>
                <td><button ng-click="removeItem(item)">Remove</button></td>
            </tr>
        </table>
    </div>

    <div class="input-area">
        <input type="text" ng-model="newItem" ng-keydown="$event.keyCode == 13 && addItem()" ng-focus="adjustContainerHeight(true)" ng-blur="adjustContainerHeight(false)">
        <button ng-click="addItem()">Add Item</button>
    </div>

</body>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script type="application/javascript" src="js/fridgeApp.js"></script>

</html>
